appdirs==1.4.3
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
cssselect==1.1.0
deprecation==2.1.0
eyeD3==0.9.5
fake-useragent==0.1.11
filetype==1.0.6
idna==2.9
lxml==4.6.5
packaging==20.3
parse==1.15.0
pyee==7.0.1
pyparsing==2.4.7
pyppeteer==0.0.25
pyquery==1.4.1
PyYAML==5.3.1
requests==2.23.0
six==1.14.0
soupsieve==2.0
tqdm==4.45.0
urllib3==1.25.9
w3lib==1.21.0
websockets==8.1
