interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://open.spotify.com/embed/track/4u7EnebtmKWzUH433cf5Qv
  response:
    body:
      string: '<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>Bohemian
        Rhapsody - A Night At The Opera (2011 Remaster)</title><meta name="description"
        content="Listen to Bohemian Rhapsody by Queen on Spotify"><meta property="og:title"
        content="Bohemian Rhapsody"><meta property="og:description" content="Queen ·
        Song · 1975"><meta property="og:url" content="https://open.spotify.com/track/4u7EnebtmKWzUH433cf5Qv"><meta
        property="og:image" content="https://i.scdn.co/image/ab67616d0000b2734c8ecc09a9f5e3ab10d550f8"><meta
  [...]
